h1 {
    color: steelblue;
}

#result {
    color: black;
    padding: 15px;
    font-weight: bolder;
}

.super-low {
    background-color: steelblue;
}

.low {
    background-color: lightsteelblue;
}

.correct {
    background-color: green;
}

.high {
    background-color: pink;
}

.super-high {
    background-color: red;
}
